@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --font: "Inter", sans-serif;
    --font-size:16px;
}
*{
    margin: 0;
}


.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

.child1 {
    background: #FFCD9E;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    padding: 0px;

}

.text-input {
    width: 50%;
    padding: 0px 40px;
}

.person>img {
    height: 400px;
    width: 400px;
    /* background-size: contain; */
}
.text-input>h1 {
    font-family: var(--font);
    font-size: 36px;
    padding:  16px 0px;

}
.text-input>p {
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 16px 0px;
    width: 70%;
}

.text-input>b {
    font-family: var(--font);
    font-size: var(--font-size);
}
.text-input>form {
    margin-top: 30px;
}
.text-input>form>input {
    width: 310px;
    padding: 22px 20px;
    border-radius: 8px;
    border: 4px solid black;

}

.text-input>form>button {
    padding: 22px 56px;
    color: white;
    background: black;
    font-family: var(--font);
    font-weight: 700;
    border-radius: 8px;
}
form>p{
    padding: 30px;
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: 400;
    color: white;
}
.child2 {
    background: #282828;
    grid-row: 2/3;
    padding: 24px 64px;
    display: flex;
    justify-content:space-between;
}

.child2 p {
    color: white;
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: 400;
    padding: 8px;
}

.social>p {
    text-align: end;
}

.logo {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
}